header {
  background-image: url(../imagem/background.jpeg);
  box-shadow:var(--shadow-yellow);
  background-position: top;
  background-size: cover;
  min-height: 400px;
}
body{
  background-color:rgb(37, 36, 36);
}


.logo img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: outset, 2px var(--yellow);
  box-shadow: var(--shadow-yellow);
}

.navbox {
  background-color: var(--shadow);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white);
  height: 100%;
  min-height: 400px;
}

.header-title,
header .logo {
  margin: 50px 25px;
}

.header-title {
  font-size: 24px;
  max-width: 400px;
}

.header-title h1 {
  font-size: 36px;
}

/* Area de contato */
.back-container {
  background-color: var(--yellow);
  border: outset 4px var(--shadow);
}

.contact {
  display: flex;
}

.text-map {
  color: var(--white);
  text-shadow: 2px 1px var(--black);

}

.contact-map,
.contact-form {
  padding: 40px;
  width: 50%;
}

/* form */

.form-group {
  width: 100%;
  padding: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 8px;
  width: 100%;
  border-radius: 8px;
}

.form-group button {
  background-color: var(--black);
  color: var(--white);
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: var(--yellow);
}

.left {
  display: flex;
  justify-content: start;
}

.right {
  display: flex;
  justify-content: end;
}

/* comentarios */
.comentario {
  background-image: url(../imagem/background.jpeg);
  background-position: bottom;
  border:outset 4px var(--shadow)
}
.menu-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  padding: 20px;

}

.menu-itens {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 15px;
  width: 33.33%;
}

.menu-itens img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: double 4px var(--yellow);
  box-shadow: var(--shadow-yellow);
}



/* Servicos */
.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-image: url(../imagem/background.jpeg);
  background-position: top;
  border:outset 4px var(--shadow);
  padding: 80px 0;
}


.card {
  margin: 10px;
  border-radius: 16px;
  border: double 4px var(--yellow);
  box-shadow: var(--shadow-yellow);
  cursor: pointer;
  width: 330px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 300px;
}

.card-img img {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
}

.card-content {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: var(--white);
  background-color: var(--shadow);
  text-align: center;
  padding: 10px;
}



.card-content h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 18px;

  margin-bottom: 15px;
}
