@import"./form.css";

header {
  background-color: var(--shadow);
}

body {
  background-image: url(../imagem/background.jpeg);
  background-position: top;
  background-size: cover;
}

.form-access {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--shadow);
  height: calc(100vh - 72px);
}

.form-access form {
  width: 300px;
  border: outset 4px var(--white);
  border-radius: 8px;
  background-color: var(--shadow);
  padding: 20px;
  box-shadow: var(--shadow-yellow);
}

.form-access form p {
  margin-top: 10px;
}

p {
  color: var(--white);
}

.text-form,
a {
  color: var(--white);
}

.text-form span a {
  color: var(--yellow)
}

a:hover {
  color: var(--yellow);
}

/* bootstrap */
/* NavBar */

/* card */
.card {
  background-color: var(--shadow);
}

a {
  color: transparent
}

/* telas */
@media(max-width:760px) {
  .header-content {
    flex-direction: column-reverse;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-map,
  .contact-form {
    width: 100%;
    padding: 10%;

  }

  .header-title,
  header.logo {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .menu-itens {
    width: 30.33%;
    padding: 6%;

  }

  .menu-itens img {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      justify-content: center;
    }
}
.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 0%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}