@import"./form.css";
header{
    background-color: var(--shadow);
}
body{
    background-image: url(../imagem/background.jpeg);
    background-position: top;
    background-size: cover;
}
.form-access{
  display: flex;
  justify-content: center;
  align-items: center;
  height:calc(100vh - 72px);
}
.form-access form{
  width: 300px;
  border:outset 4px var(--white);
  border-radius: 8px;
  background-color: var(--shadow);
  padding: 20px;
  box-shadow: var(--shadow-yellow);
}
.form-access form p{
  margin-top: 10px;
}
p{
  color: var(--white);
}
.text-form,a{
  color: var(--white);
}

.text-form span a {
  color: var(--yellow) 
}

a:hover{
  color: var(--yellow);
}